﻿@model sales.Models.Order
@{
    ViewBag.Title = "FinishingOrder";
}

<h2>Заказ - @Model.PromoCode</h2>
<h3>Сумма = @Model.OrderSpecs.Sum(os => os.Book.Price)</h3>
<form method="post" action="">
    <input type="submit" value="Оплатить и оформить" class="btn btn-primary" />
    <a href=@Url.Action("CancelOrder", new { promoCode = Model.PromoCode })>
        <input class="btn btn-primary" type="button" value="Отменить заказ" />
    </a>
    <div style=" height: inherit;  font-size: 12px; overflow: auto;">
        @Html.HiddenFor(m=> m.PromoCode)
        @Html.HiddenFor(m => m.ready)
        @{
        var gridOrders = new WebGrid(ajaxUpdateContainerId: "gridOrders");
        gridOrders.Bind(Model.OrderSpecs);

        @gridOrders.GetHtml(htmlAttributes: new { id = "gridOrders" },   // id for ajaxUpdateContainerId parameter
            fillEmptyRows: false,
            tableStyle: "table table-bordered table-hover table-striped",
            mode: WebGridPagerModes.All,
            columns: gridOrders.Columns(
                    gridOrders.Column("Book.Name", "Наименование"),
                    gridOrders.Column("Book.Author", "Автор"),
                    gridOrders.Column("Book.Year", "Год"),
                    gridOrders.Column("Book.ISBN", "ISBN"),
                    gridOrders.Column("Book.Price", "Цена"),
                    gridOrders.Column("Book.Url", "Обложка",
                    (order) =>
                    {
                        return Html.Raw(string.Format("<img src=" + order.Book.URL + ">"));
                    })
                    )); }
    </div>
</form>





