﻿@model sales.ViewModel.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<h2>Введите промокод</h2>
<form method="post" action="">
    <div>
        @Html.TextBoxFor(m => m.PromoCode, new { @class = "form-control required" })
        @ViewBag.Message
    </div>
    <input class="btn btn-primary" type="submit" value="Ок" />
</form>
    <a href=@Url.Action("GetPromoCode")>
        <input class="btn btn-primary" type="button" value="Получить промокод" />
    </a>
