﻿@model sales.ViewModel.SaleViewModel
@{
    ViewBag.Title = "Order";
}

<h2>Заказ - @Model.Order.PromoCode</h2>
<div class="col-sm-6" style="height: 700px">
    <h3>Доступные книги</h3>
    <div style=" height: inherit;  font-size: 12px; overflow: auto;">
        @{
            var gridBooks = new WebGrid(ajaxUpdateContainerId: "gridBooks");
            gridBooks.Bind(Model.Books);

            @gridBooks.GetHtml(htmlAttributes: new { id = "gridBooks" },   // id for ajaxUpdateContainerId parameter
            fillEmptyRows: false,
            tableStyle: "table table-bordered table-hover table-striped",
            mode: WebGridPagerModes.All,
            columns: gridBooks.Columns(
                    gridBooks.Column("Name", "Наименование"),
                    gridBooks.Column("Author", "Автор"),
                    gridBooks.Column("Year", "Год"),
                    gridBooks.Column("ISBN", "ISBN"),
                    gridBooks.Column("Price", "Цена"),
                    gridBooks.Column("Url", "Обложка",
                    (book) =>
                    {
                        return Html.Raw(string.Format("<img src=" + book.URL + ">"));
                    }),
                    gridBooks.Column("Count", "Кол-во"),
                    gridBooks.Column(style: "action",
            format: (book) => 
                {
                    if (book.count > 0)
                        return @Html.Raw("<a data-modal='' href=" + @Url.Action("GetBook", "Home", new { id = book.Id, promoCode = Model.Order.PromoCode }) + " title='GetBook'> Выбрать </a>");
                    else
                        return @Html.Raw("Нет в наличие");
                }
            ))); }
    </div>

</div>
<div class="col-sm-6">
    <h3>Корзина. Сумма = @Model.Order.OrderSpecs.Sum(os=>os.Book.Price)</h3>
    @{
        if (Model.Order.OrderSpecs.Sum(os => os.Book.Price) >= 2000)
        {
            <a href=@Url.Action("FinishingOrder", new { promoCode = Model.Order.PromoCode })>
                <input class="btn btn-primary" type="button" value="Оплатить и  завершить" />
            </a>
        }
    }
    <div style=" height: inherit;  font-size: 12px; overflow: auto;">
        @{
            var gridOrders = new WebGrid(ajaxUpdateContainerId: "gridOrders");
            gridOrders.Bind(Model.Order.OrderSpecs);

            @gridOrders.GetHtml(htmlAttributes: new { id = "gridOrders" },   // id for ajaxUpdateContainerId parameter
            fillEmptyRows: false,
            tableStyle: "table table-bordered table-hover table-striped",
            mode: WebGridPagerModes.All,
            columns: gridOrders.Columns(
                    gridOrders.Column("Book.Name", "Наименование"),
                    gridOrders.Column("Book.Author", "Автор"),
                    gridOrders.Column("Book.Year", "Год"),
                    gridOrders.Column("Book.ISBN", "ISBN"),
                    gridOrders.Column("Book.Price", "Цена"),
                    gridOrders.Column(style: "action",
            format: @<text>
                                @Html.Raw("<a data-modal='' href=" + @Url.Action("RemoveBook", "Home", new { id = item.Id }) + " title='RemoveBook'> Удалить </a>")
            </text>))); }
    </div>

</div>

